@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

#uploadDiv {
  background-image: url("../../assets/icons/upload.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
  background-color: $primary-blue;
  width: 100%;
  height: 2.5rem;
  border: none;
  color: $primary-white;
  margin-top: 16px;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  @include tablet {
    width: 33%;
    margin: 0.625rem 0 0.625rem 1.5rem;
  }
  @include desktop {
    width: 13%;
  }
  //hover effect on button
  &:hover {
    background-color: $secondary-darkblue;
    cursor: pointer;
  }
}

#submitButton {
  @extend #uploadDiv;
  background-image: url("../../assets/icons/add_comment.svg");
  padding-top: 0;
  margin-top: 0.625rem;
  @include tablet {
    width: 25%;
    height: 2.5rem;
    margin: 0 0 0 1.75rem;
  }
  @include desktop {
    width: 28%;
  }
}

#publishButton {
  @extend #uploadDiv;
  background-image: url("../../assets/icons/publish.svg");
  padding-top: 0;
  margin-top: 0.625rem;
  @include tablet {
    width: 25%;
    height: 2.5rem;
    margin: 0 0 0 1.75rem;
  }
  @include desktop {
    width: 15%;
  }
}

#cancelButton {
  @extend #uploadDiv;
  background: none;
  padding-top: 0;
  color: $primary-blue;
  margin-top: 0.625rem;
  @include tablet {
    width: 20%;
    height: 2.5rem;
    margin: 0 0 0 1.75rem;
  }
  @include desktop {
    width: 15%;
  }
  &:hover {
    background: none;
  }
}
