@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header__avatar {
  align-content: center;
  margin-left: 16px;
  // margin-top: 6px;
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
  border-radius: 50%;
  //   @include tablet {
  //     width: 3rem;
  //     height: 3rem;
  // }
}
