@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-details {
  &__player {
    aspect-ratio: 1.78;
    background-color: $secondary-darkblack;
    width: 100%;
    max-height: 18.75rem;
    @include tablet {
      max-height: 25rem;
      padding: 0 2.25rem;
    }
    @include desktop {
      max-height: 31.25rem;
      padding: 0 15rem;
    }
  }
}
