@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload-page {
  &__container {
    width: 100%;
    padding: $padding;
    @include tablet {
      padding: 1rem 2.25rem 1.5rem 2.25rem;
    }
    @include desktop {
      width: 80%;
      margin: auto;
    }
  }
  &__title {
    @include page-header;
    margin: 0 0 1rem 0;
    @include tablet {
      @include tablet-page-header;
      margin: 1.5rem 0;
    }
  }
}
.upload-form {
  display: flex;
  flex-direction: column;
  @include tablet {
    margin-top: 1.75rem;
  }
  @include desktop {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2.25rem;
    flex-wrap: wrap;
  }
  &__input-container {
    width: 100%;
    flex-grow: 2;
    @include desktop {
      width: 50%;
      flex-grow: 0;
    }
  }
  &__thumb-container {
    width: 100%;
    flex-grow: 0;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 40%;
    }
  }
  &__thumb {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 0.3125rem;
    @include tablet {
      width: 100%;
      margin-bottom: 1rem;
    }
    @include desktop {
      width: 90%;
      margin-bottom: 0;
    }
  }
  &__bottom-container {
    @include desktop {
      flex-basis: 100%;
    }
  }

  &__divider-tab-desk {
    display: none;
    @include tablet {
      display: block;
      margin: 1rem 0;
    }
  }
  &__button-container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row-reverse;
    }
  }
}
label {
  color: $primary-silver;
  @include body-copy;
  font-weight: 600;
  display: block;
  margin-bottom: 0.1875rem;
  @include tablet {
    margin-left: 0.3125rem;
    margin-bottom: 0.3125rem;
  }
}
