@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment-form {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 1.5rem;
    }
  }
  &__avatar-container {
    @include tablet {
      margin-right: 0.5rem;
    }
    @include desktop {
      margin-right: 1rem;
    }
  }
  &__input-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    @include tablet {
      flex-grow: 2;
      flex-direction: row;
      align-items: flex-end;
    }
    @include desktop {
      padding-right: 1.5rem;
    }
  }
  &__input-container-tab-desk {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }
  label {
    color: $primary-silver;
    @include body-copy;
    font-weight: 550;
    @include tablet {
      margin-left: 0.3125rem;
    }
  }
}
