@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  @include tablet {
    width: 45%;
  }
  @include desktop {
    width: auto;
  }

  &__thumb {
    width: 100px;
    height: 60px;
    object-position: center;
    object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
    @include tablet {
      width: 110px;
      height: 65px;
    }
  }
  &__thumb-container {
    border-radius: 4px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 16px;
  }
  &__title {
    color: $primary-black;
    @include body-copy;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
    @include tablet {
      @include tablet-body-copy;
      font-weight: 600;
    }
    @include desktop {
      margin: 0;
    }
  }
  &__channel {
    @include body-copy;
    color: $primary-black;
    font-weight: 400;
    margin: 0 0 5px 0;
    @include tablet {
      @include tablet-body-copy;
    }
    @include desktop {
      margin-top: 5px;
    }
  }
}
