@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment-form {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 1.5rem;
    }
  }
  &__avatar-container {
    @include tablet {
      margin-right: 0.5rem;
    }
    @include desktop {
      margin-right: 1rem;
    }
  }
  &__input-container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-grow: 2;
      flex-direction: row;
      align-items: flex-end;
    }
    @include desktop {
      padding-right: 24px;
    }
  }
  &__input-container-tab-desk {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }
  label {
    color: $primary-silver;
    @include body-copy;
    font-weight: 550;
    @include tablet {
      margin-left: 0.3125rem;
    }
  }
  textarea {
    background-repeat: no-repeat;
    color: $primary-black;
    font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $secondary-mercury;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    outline: none;
    background-color: $secondary-alabaster;
    @include tablet {
      display: none;
    }
    &:focus {
      border: 1px solid $primary-black;
    }
    &:default {
      border: 1px solid $secondary-alabaster;
    }
    &::placeholder {
      @include body-copy;
      font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif;
      color: $primary-black;
      @include tablet {
        font-size: 1.1em;
      }
    }
  }
}
