@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment-section {
  @include desktop {
    margin-top: 24px;
  }
  &__num-of {
    margin-top: 8px;
    @include body-copy;
    font-weight: 600;
  }
}

//no divider after the last comment on desktop version
.comment-section__list hr:last-child {
  @include desktop {
    display: none;
  }
}
