@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  &__container {
    width: 100%;
    padding: $padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      justify-content: flex-end;
    }
  }
  &__item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 20%;
    }
  }
  &__logo-container {
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 0;
      padding: 0 5.625rem 0 1.5rem;
    }
    @include desktop {
      margin-left: 8%;
      flex-grow: 2;
    }
  }
  &__searchbar {
    width: 100%;
  }
  &__upload-link {
    color: $primary-white;
  }
}
