@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif; // Added fallback fonts
}

a {
  text-decoration: none;
}
hr {
  border: 1px solid $secondary-mercury;
  width: 100%;
}

.brainflix {
  &__container-desktop {
    @include desktop {
      display: flex;
      flex-direction: row;
      margin: 0 7.5rem;
    }
  }
}
