@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header__avatar {
  &-mobile {
    object-position: center;
    margin-left: 1rem;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    border-radius: 50%;
    @include tablet {
      display: none;
    }
  }
  &-tab-desk {
    display: none;
    @include tablet {
      display: inline-block;
      margin: 0 1.5rem 0 1.125rem;
      width: 2.5rem;
      height: 2.5rem;
      object-position: center;
      object-fit: cover;
      border-radius: 50%;
    }
    @include desktop {
      margin-right: 10%;
      margin-left: 2.25rem;
    }
  }
}

.comment-form__avatar {
  object-position: center;
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1.5rem;
  margin-right: 0.625rem;
  @include tablet {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.comment-item__avatar {
  @extend .comment-form__avatar;
  margin: 1rem 1rem 0 0;
  @include tablet {
    margin-top: 0.25rem;
  }
  @include desktop {
    margin-top: 1.125rem;
  }
}
