@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir", Verdana, Geneva, Tahoma, sans-serif; // Added fallback fonts
}

a {
  text-decoration: none;
  color: $primary-white;
  &:hover {
    opacity: 0.75; //overlay hover effect on links
  }
}
hr {
  border: 1px solid $secondary-mercury;
}
