@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment-item {
  display: flex;
  padding: 0;
  margin-bottom: 16px;
  @include desktop {
    width: 100%;
  }
  &__main-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    @include desktop {
      padding-right: 24px;
      flex-grow: 2;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      margin-top: 16px;
    }
  }
  &__avatar-container {
    @include tablet {
      margin-right: 8px;
    }
    @include desktop {
      margin-right: 16px;
    }
  }
  &__name {
    @include body-copy;
    font-weight: 600;
    @include tablet {
      @include tablet-body-copy;
      font-weight: 600;
      margin: 0;
    }
  }
  &__date {
    @include body-copy;
    color: $primary-silver;
    @include tablet {
      @include tablet-body-copy;
      margin: 0;
    }
  }
  &__content {
    @include body-copy;
    margin: 0;
    padding-bottom: 5px;
    @include tablet {
      @include tablet-body-copy;
    }
    @include desktop {
      margin-top: 10px;
    }
  }
}
