@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-details {
  @include desktop {
    flex-basis: 800px; // fixed width for flex box
  }
  &__container {
    padding: $padding;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    @include tablet {
      padding: 16px 36px 0px 36px;
    }
    @include desktop {
      padding-right: 0;
      padding-bottom: 36px;
      width: 100%;
    }
  }
  &__title {
    @include page-header;
    @include tablet {
      @include tablet-page-header;
      margin-bottom: 5px;
    }
  }
  &__description {
    @include body-copy;
    @include tablet {
      @include tablet-body-copy;
    }
    @include desktop {
      padding-right: 24px;
    }
  }
  &__divider-mobile {
    @include tablet {
      display: none;
    }
  }
}

.video-info {
  &__outter-container {
    width: 100%;
    padding-right: 24px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      padding: 0;
    }
  }
  &__left-container {
    padding: 0;
    margin: 0;
    @include tablet {
      width: 50%;
      display: flex;
      justify-content: flex-start;
    }
  }
  &__right-container {
    @extend .video-info__left-container;
    @include tablet {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    @include desktop {
      padding-right: 24px;
    }
  }
  &__channel {
    font-size: 14px;
    font-weight: 600;
    @include tablet {
      margin-right: 36px;
    }
  }
  &__date {
    @include body-copy;
    color: $primary-silver;
  }
  &__likes-num,
  &__views-num {
    @extend .video-info__date;
    @include tablet {
      margin-left: 36px;
    }
  }
}

.video-info__likes-num::before {
  content: url(../../assets/icons/likes.svg);
  margin-right: 5px;
}

.video-info__views-num::before {
  content: url(../../assets/icons/views.svg);
  margin-right: 5px;
}

hr {
  width: 100%;
}
