@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-details {
  &__container {
    padding: $padding;
  }
  &__image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
}
